{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="mb-3">
                You are not logged in, <a href="{{ path('app_login') }}">Login</a> or <a href="{{ path('app_register') }}">Register</a>
            </div>
        {% endif %}
    </div>

    <div>
        {% if is_granted('IS_AUTHENTICATED') %}
            <div class="mb-3">
                <a href="{{ path('app.swagger_ui') }}" target="_blank">API Documentation</a>
            </div>
        {% endif %}
    </div>

{%  endblock %}
